# Ignore dist, node_modules, src, and tests
.husky/
dist/
node_modules/
src/
tests/

# Ignore config files
.gitignore
.prettierignore
.prettierrc
jest.config.json
package-lock.json
tsconfig.json

# Optionally, exclude README.md if it's not needed
# README.md
